  * {
    padding: 0;
    margin: 0;
  }

  html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }

  #canvastext {
    background-color: transparent;
    background-image: url(../img/bg.png), url(../img/background.png);
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto, 100% auto;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }

  #container {
    flex: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
  }

  canvas {
    width: 100%;
    height: auto;
  }

  #count-down-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    z-index: 6;
  }

  #soon-glow {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: transparent;
    /*background-color:#f13446;
			background-image:linear-gradient(30deg, #F13B6F,#FC9E2C);*/
    text-transform: lowercase;
  }

  #soon-glow .soon-label {
    color: #fff;
    text-shadow: 0 0 .25rem rgba(255, 255, 255, .75);
  }

  #soon-glow .soon-ring-progress {
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
  }

  #soon-glow>.soon-group {
    margin-bottom: -.5em;
  }

  .soon[data-layout*=group] {
    padding: 0.5em 0;
  }

  .SLToday {
    font-family: "Roboto Condensed";
    color: #FFF;
    font-size: 25px;
  }

  .content-logo-wrap {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 50px;
    left: 0;
  }

  .content-logo {
    font: 800 14.5em/1 'Open Sans', Impact;
    position: relative;
    width: 100%;
    text-align: center;
    opacity: 0.15;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  svg.sgmlogo {
    width: 80%;
    margin: 0 auto 50px;
    display: block;
    text-transform: uppercase;
  }

  .mkCD {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    display: block;
    width: 140px;
    height: 182px;
    cursor: pointer;
  }

  .textCD {
    width: 0px;
    height: 0px;
    background: #FFF url(../img/bg-chuc.bg.jpg) top center no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    z-index: 14;
  }

  .textCD .texts1 {
    padding: 30px;
    text-align: center;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .textCD .texts1:first-child {
    padding-top: 40px;
    padding-bottom: 0;
    text-transform: uppercase;
  }

  #fireworksField {
    z-index: 10;
  }

  .text {
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
  }

  .text:nth-child(5n + 1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }

  .text:nth-child(5n + 2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
  }

  .text:nth-child(5n + 3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
  }

  .text:nth-child(5n + 4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
  }

  .text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }

  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }