# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
dist

# Optional eslint cache
.eslintcache


# Dependency directories
node_modules/
jspm_packages/

# Bower dependency directory (https://bower.io/)
bower_components