/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: .08rem;
  min-height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.container {
  flex-direction: column;
  padding: 50px 40px 10px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.row {
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
}

.text-upper {
  text-transform: uppercase
}

#Side-card {
  min-width: 250px;
  height: 100%;
  margin: 0px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.card {
  background-color: #1FA184
}

.card {
  color: white;
}

.card {
  display: block;
  text-align: center;
  font-size: .875rem;
  padding: 30px 10px 20px;
}

.card>.card-info h2 {
  font-size: 1.5rem;
  margin-bottom: .688rem;
  margin-top: 0.688rem;
}

.card .card-avatar {
  padding-bottom: 10px;
}

.card>.card-avatar>span {
  display: inline-block;
}

.card>.card-avatar img {
  border-radius: 50%;
  width: 50%;
}

.card-info .text-muted {
  color: inherit;
  opacity: .65;
  font-size: 1.143em
}

.card-info>.list-social {
  font-size: 1.625rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list-social>li {
  display: inline-block;
  margin: 5px 12px;
  vertical-align: middle;
}

.card-footer {
  text-align: center;
}

.card-footer>div {
  padding: 30px 0px;
  height: 50px;
  width: 100%;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #222;
  padding: 15px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn span {
  position: relative;
  z-index: 1;
}

header {
  width: 40px;
}

ul.top-menu {
  list-style: none;
  padding: 0;
  display: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

ul.top-menu>li {
  display: block;
  padding: 10px 5px;
  background-color: red;
}

.main-container {
  flex: 1 1 auto;
  flex-direction: column;
}

.main-container .section {
  margin-bottom: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.section>.title {
  padding: 0.688em 0 0.688em 20px;
  font-weight: 600;
}

.section>* {
  padding: 0px 20px;
}

.section>.section-content {
  padding-bottom: 3rem;
}

.personal-info {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.personal-info>dd,
.personal-info>dt {
  flex: 50%;
}

.personal-info>dt {
  font-weight: 700;
}

.personal-info>dd {
  font-style: italic;
  opacity: .65;
}

.personal-info>dt::after {
  content: ":";
}

.timeline {
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px 10px 0px;
  top: 0%;
}

.timeline .timeline-header {
  padding-bottom: 10px;
}

.timeline .timeline-items {
  width: 100%;
  position: relative;
}

.timeline .timeline-header::before {
  content: "";
  border: solid 0.125rem;
  border-color: #1FA184;
  background: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  margin-left: calc(0px - 35px - 0.87rem);
  font-weight: 400;
  text-align: center;
  display: block;
  position: absolute;
  margin-top: -0.6rem
}

.timeline .timeline-header i {
  position: absolute;
  top: 10px;
  left: calc(0px - 0.55rem);
  font-size: 1rem;
  line-height: 1rem
}

.timeline .timeline-items .timeline-item,
.timeline .timeline-header {
  border-left: solid 2px #ececec;
  padding: 0 0 40px 30px;
}

.timeline .timeline-items .timeline-item:last-child {
  border-left: 0.125rem;
}

.timeline .timeline-items .timeline-item .title {
  font-size: 1rem;
  line-height: 0.75rem;
  font-weight: 700;
}

.timeline .timeline-items .timeline-item .sub-title {
  font-size: 0.8rem;
  padding: 5px 0px;
}

.sub-title .date {
  color: #1FA184;
}

.sub-title .date~span::before {
  content: "| ";
}

.timeline .timeline-items .timeline-item::before {
  content: "";
  border: solid 0.125rem;
  border-color: #1FA184;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50px;
  font-size: 0.5rem;
  margin-left: calc(0px - 35px - 0.125rem);
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: -1px;
}

.timeline .timeline-items .timeline-item:last-child::before {
  margin-left: calc(0px - 35px);
}

#Side-menu {
  height: 100%;
  margin: 0px 20px;
}

ul.side-menu {
  list-style: none;
  padding: 0;
  display: block;
  font-weight: 500;
}

ul.side-menu>li {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  padding: 5px;
  border: solid 2px;
  border-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 5px 10px #00000033;
}

ul.side-menu .icon {
  padding: 5px;
  text-align: center;
  vertical-align: bottom;
}

ul.side-menu li:hover {
  border: solid 2px;
  border-color: #1FA184;
}

ul.side-menu .text {
  display: none;
}

.form {
  padding: 10px;
}

.form .input-form,
.form .input-form input,
.form .input-form textarea {
  width: 100%;
}

.form .input-form input {
  padding: 10px 0px;
  margin-bottom: 30px;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px #1FA184;
  outline: none;
  background: transparent
}

.form .input-form textarea {

  padding: 20px 0px 10px;
  margin-bottom: 30px;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px #1FA184;
  outline: none;
  background: transparent
}

.form .input-form {
  position: relative;
}

.form .input-form .label,
.form .input-form label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0px;
  margin-bottom: 30px;
  font-size: 1rem;
  pointer-events: none;
  transition: .5s;
}

.form .input-form input:focus~.label,
.form .input-form input:focus~label,
.form .input-form input:valid~.label,
.form .input-form input:valid~label {
  top: -18px;
  left: 0;
}

.form .input-form textarea~.label,
.form .input-form textarea~label {
  top: -10px;
}

.skills {
  display: table;
  width: 100%;
  margin: 1rem 0px 2rem;
  border-collapse: collapse;
  table-layout: fixed
}

.skills .skill {
  display: table-row;
  border-bottom: 1px solid #1FA184;
  height: 50px;
}

.skill .name {
  width: 33%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.skill .info {
  display: table-cell;
  vertical-align: middle;
}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hobbies .hobby {
  padding: 10px;
  text-align: center;
}

.hobby .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  background: #1FA184;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 5px
}
